body
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#circuit_canvas_wrapper
{
	margin:0px;
	padding:0px;
}

#circuit_canvas
{
	width:100%;
}

#editor_component_picker h2
{
	font-size: 16px;
	font-weight: bold;
	color: #7f0036;
	padding-bottom: 3px;
	border-bottom: 1px solid grey;
}