/* ------------------------------------------------------------------------------------------------------------*/
/* Global                                                                                                      */
/* ------------------------------------------------------------------------------------------------------------*/
body
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: Arial,Helvetica,sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------*/
/* Canvas                                                                                                      */
/* ------------------------------------------------------------------------------------------------------------*/
#editor_canvas_container
{
	margin: 0px;
	padding: 0px;
}

#editor_canvas
{
	width: 100%;
	position:absolute;
	left: 0px;
	top: 0px;
}

/* ------------------------------------------------------------------------------------------------------------*/
/* Misc                                                                                                        */
/* ------------------------------------------------------------------------------------------------------------*/
.noclose .ui-dialog-titlebar-close
{
	display: none;
}

.noselect
{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}