@font-face
{
	font-family: 'Roboto';
	src: URL('third-party/roboto/Roboto-Regular.ttf') format('truetype');
}

body
{
	font-family: 'Roboto', sans-serif;
	padding:10px;
}

.noselect
{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}